$player-colour: #f7b267;

$check-colour: #f79d65;
$check-colour-hover: #dd7d42;
$check-colour-click: rgb(144, 83, 44);

$fold-colour: #fc6861;
$fold-colour-hover: #d14740;
$fold-colour-click: #982e29;

$redeal-colour: #f37eae;
$redeal-colour-hover: #d46392;
$redeal-colour-click: #973e63;

$bid-colour: #efdc49;
$bid-colour-hover: #c9b834;
$bid-colour-click: #877a18;

$submit-colour: #225919;

$ai-player-colour: #f25c54;

$background-colour: #4d0400;
$table-colour: #793600;

//card colours

$card-back-colour: #ff931f;
