$player-colour: #f7b267;
$button-colour: #f79d65;
$button-colour-hover: #f4845f;
$button-colour-click: #f27059;
$ai-player-colour: #f25c54;
$background-colour: #4d0400;
$table-colour: #793600;

//card colours

$card-back-colour: #ff931f;
